# Local MongoDB example
PORT=3000
MONGO_URL=mongodb://127.0.0.1:27017
MONGO_DB=event_planner

# MongoDB Atlas example
# PORT=3000
# MONGO_URL=mongodb+srv://<username>:<password>@<cluster-url>
# MONGO_DB=event_planner
